* {
    background-color: whitesmoke;
    margin:  0;
    padding: 0;
    text-decoration: none;
}

header, main, footer, nav, aside, section{
    display: block; 
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding-top: 1px;
    padding-bottom: 15px;
    background-color:darkcyan;
    width: 100%; 
 }

 #business_logo{
     text-align: center;
     margin-left: 88px;
     font-family: Arial, Helvetica, sans-serif;
     font-style: normal;
     font-size: 24px;
     color: black;
     line-height: 88px ;
   
 }

 #logo{
     text-align: center;
     background-image: url("../images/star.jpg");
     background-repeat: no-repeat;
     background-size: contain;
     margin-left: 15px;
     margin-top: 15px;
     height: 88px;
     width: 88px;
     display: block;

 }


 #logo:hover{
    font-weight: 100;
}

nav{
    display: block;
    /* text-align: center; */
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 10px;

}
 #page_link{
    color:grey;
}

 #page_link:hover{
    color:black;
    font-weight: 600;
}

.selected{
    color:black;
    font-weight: 600;
}

 #body_top{
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 10px;
 }

footer{
    margin-top: 1960px;

}