* {
    background-color: whitesmoke;
    margin:  0;
    padding: 0;
    text-decoration: none;
}

header, main, footer, nav, aside, section{
    display: block; 
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding-top: 1px;
    padding-bottom: 15px;
    background-color:darkcyan;
    width: 100%; 
 }

 #business_logo{
     text-align: center;
     margin-left: 88px;
     font-family: Arial, Helvetica, sans-serif;
     font-style: normal;
     font-size: 24px;
     color: black;
     line-height: 88px ;
     background-color:darkcyan;
   
 }

 #logo{
     text-align: center;
     background-image: url("../images/star.jpg");
     background-repeat: no-repeat;
     background-size: contain;
     margin-left: 15px;
     margin-top: 15px;
     height: 88px;
     width: 88px;
     display: block;
     background-color:darkcyan; 

 }


 #logo:hover{
    font-weight: 100;
}

nav{
    display: block;
    /* text-align: center; */
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 10px;

}
 #page_link{
    color:grey;
}

 #page_link:hover{
    color:black;
    font-weight: 600;
}

.selected{
    color:black;
    font-weight: 600;
}

 #body_top{
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 10px;
 }

 #body_services{
    display: block; 
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 10px;
 }
footer{
        position: fixed;
        bottom: 0;

        padding-bottom: 15px;
        background-color:darkcyan;
        width: 100%; 
}
#footer_p{
    padding-top: 1px;
    margin-left: 15px;
    background-color:darkcyan;
}
#p_nav{
    display: block;
    background-color:darkcyan;
    /* text-align: center; */
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 10px;

}
 #footer_link{
    background-color:darkcyan;
    color:lightgray;
}

 #footer_link:hover{
    background-color:darkcyan;
    color:white;
    font-weight: 600;
}


#f_business_logo{
    text-align: center;
    margin-left: 88px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 24px;
    color: black;
    line-height: 88px ;
    background-color:darkcyan;
}

#f_logo{
    text-align: center;
    background-image: url("../images/star.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 15px;
    margin-top: 15px;
    height: 88px;
    width: 88px;
    display: block;
    background-color:darkcyan;
}


#f_logo:hover{
   font-weight: 100;
}
